 @import url('https://fonts.googleapis.com/css?family=Poppins');

 .input-mysize {
 	width: 200px;
 }
.homepage {
	background-image: url("../images/landingbg.jpg");
}

footer{
	background-color: black;
	padding: 25px;
	display: flex;
	justify-content: center;
}
.homepageheight {
	display: block;
	height: 740px;
	overflow:scroll;
}
 .homepageheading {
 	font-family: "poppins";
 	font-weight: bold;
 	font-size: 5vw;
 	text-align: center;
 	color: white;
 }
.centerform {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100px;
}

 input{
 	padding-left: 10px;
 }
